@import "tailwindcss";

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #949494; /* Tailwind's green-400 */
  border-radius: 8px;
  border: 2px solid transparent;
}
